.gitignore
CLAUDE.md
susv5-html/
false/false
grep/grep
grep/grep.o
grep/posix_re.o
true/true
unlink/unlink
ls/ls
cat/cat
wc/wc
mkdir/mkdir
echo/echo
head/head
basename/basename
dirname/dirname
sleep/sleep
pwd/pwd
tail/tail
more/more
tee/tee
touch/touch
ln/ln
sed/sed
set/sed.o
